# Estas variáveis devem ser configuradas no painel do Railway
NEXT_PUBLIC_SUPABASE_URL=https://ptqdcemtgznxrstujysq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB0cWRjZW10Z3pueHJzdHVqeXNxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkyMTQ1NTMsImV4cCI6MjA5NDc5MDU1M30.TINeltr5AqjkIgR54DWqdNKim7YoPI2YO7lJFbEbX6w
SUPABASE_SERVICE_ROLE_KEY=sb_secret_EtwFhpxbHxBsu0M9Ufrlng_taEicP4_
OMIE_APP_KEY=4330627336035
OMIE_APP_SECRET=516e6e6960a06aac52da9d2a4480bd59
EMPRESA_ID=22c8f1e1-3aa7-4794-a76b-fc1d4041b0ca
NEXT_PUBLIC_EMPRESA_ID=22c8f1e1-3aa7-4794-a76b-fc1d4041b0ca
CRON_SECRET=gestao_frete_cron_2024_seguro
NODE_ENV=production
